<div class="container-fluid px-0" style="height: 100%;">
  <header class="row" style="text-align: center; height: 10%;">
    <div style="background-color: rgb(15, 15, 96);">
      <app-header></app-header>
    </div>
  </header>
  <div class="row" style="height: 90%;">
    <div class="col-md-2" style="border-right: 1px solid #ccc;">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer style="background-color:black; color: #ccc;">
    <p class="align-self-center">&copy; 2024 chatDB | Anushkaa Ambuj</p>
  </footer>
  
</div>
